*{
    background-color: #7cb8a0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1;
    letter-spacing: 0.0375em;
    color: #263852;
}
#wrapper{
    width: 920px;
    margin: 0px auto;
    height: fit-content;
    padding: 15px;
}
header{
    border: solid black 1px;
    background-color: #263852;
    color: white;
    padding: 10px;
}
#header{
    display: inline-block;
    padding: 10px;
    background-color: #263852;
    color: white;
}
header a{
    color: white;
}
.header_links{
    margin-left: 480px;
}
#all_cons{
    display: block;
    border: solid black 1px;
    padding: 0px 40px 40px 40px;
    background-color: #263852;
    text-align: center;
    margin: 15px auto;
    width: 50%;
}
h2{
    background-color: #263852;
    color: white;
}
#con{
    border: solid black 1px;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
#attendee{
    display: inline-block;
}
#buttons{
    display: inline-block;
}
input, select{
    float: right;
    margin-left: 10px;
    background-color: white;
    width: 141.6;
    height: 22;
}
button{
    background-color: white;
    padding: 5px;
}
span{
    background-color: transparent;
    width: 10px;
    height: 16px;
}
a{
    color: white;
}