<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Cave</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user.css' %}">
</head>
<body>

    <div id="wrapper">

        <header>
            <h1 id="header">Con Cave</h1>
            <a href="/home" id="header" class="header_links">Home</a>
            <a href="/viewaccount/{{request.session.user_id}}" id="header">Account</a>
            <a href="/logout" id="header">Logout</a>
        </header>

        <div id="all_cons">
            <h2>{{clicked_org.org_name}}</h2>
            {% for con in all_org_cons %}
                <div id="con">
                    <p><a href="/viewcon/{{con.id}}">{{con.name}}</a></p>
                    <p>{{con.description}}</p>
                    <p>{{con.date}}</p>
                    {% if logged_attendee.is_organizer == False %}
                        {% if logged_attendee in con.rsvps.all %}
                            <div id="buttons">
                                <form class="going" action="/userunrsvp/{{con.id}}"><button type="submit">Going <span>&#10003;</span> </button></form>
                            </div>
                            {% else %}
                            <div id="buttons">
                                <form class="rsvp" action="/userrsvp/{{con.id}}"><button type="submit">RSVP</button></form>
                            </div>
                        {% endif %}
                        {% if logged_attendee in con.likes.all %}
                            <div id="buttons">
                                <form class="unlike" action="/userunlike/{{con.id}}"><button type="submit">Unlike</button></form>
                            </div>
                            {% else %}
                            <div id="buttons">
                                <form class="like" action="/userlike/{{con.id}}"><button type="submit">Like</button></form>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if con.created_by.id == request.session.user_id %}
                        <div id="buttons">
                            <form class="delete" action="/delete/{{con.id}}"><button type="submit">Delete</button></form>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

</body>
</html>